/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/**************************************
  GOOGLE FONTS
****************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F8FFFF;
    line-height: 1.5;
}

.headline-box {
  background: #31393C;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
/**  border-radius: 5px; **/
  border-bottom: 2px solid #FDCA40;
}

.headline {
  color: #FDCA40;
  font-size: 32px;
  margin-bottom: 32px;
}

.byline {
  color: #FDCA40;
  font-size: 16px;
}

.container {
    max-width: 800px;
    margin   : 0 auto;
    padding  : 5px;
}

H1 {
    color: #2176FF;
}

H2 {
  color: #33A1FD;
}

H3 {
  color: #F79824;
}

p {
  color: #31393C;
}

.inter-element {
  margin: auto;
  width: 95%;
  padding: 16px 20px 8px;
  border: 2px solid #FDCA40;
  border-radius: 5px;
  background-color: #DFE6E7;
}

#Accessible {
    display  : flex;
    flex-flow: row wrap;
}

.station {
    padding   : 5px;
    float     : left;
    min-height: 185px;
    text-align: center;
    flex      : 1 0 34%;
    display   : none;
}

.station.active {
    display: block;
}

.end,
.start {
    display: none;
}

.end.active,
.start.active {
    display: block;
}

#result {
    display: none;
}

#result img {
    display  : none;
    max-width: 200px;
}

#result.accessible,
#result.non-accessible {
    display: block;
}

#result.accessible img.accessible,
#result.non-accessible img.non-accessible {
    display: block;
}

img {
    display: block;
    width  : 50%;
}

select {
    display: block;
    width  : 100%;
}

.social a {
  border: 2px solid #1da1f2;
  padding: 3px;
  background: #1da1f2;
  color: white;
  border-radius: 3px;
  display: inline-block;
  margin: 2px auto;
  width: 100px;
  text-align: center;
}

.social a:hover {
  color: #1da1f2;
  background: #f7f7f7;
  border: 2px solid #1da1f2;
  padding: 3px;
  margin: 2px auto;
}

.footer {
  border-top: 2px solid #FDCA40;

  background: #31393C;
  width: 100%;
  margin: auto;
  align-content: center;
}

.social.footer {
  text-align: center;
  color: #FDCA40;
  font-weight: bolder;
  padding-bottom: 10px;
  padding-top: 10px;

}

/* Tablet/Desktop overrides */
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    .item {
        flex-basis: 50%;
    }

    select {
        width: 33%;
    }
}
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}
